@import "./fonts.scss";
@import "./mixins.scss";
@import "./reset.scss";
@import "./shared.scss";

html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $text_color;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #fff;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    .container {
        align-items: center;
    }
    &__main {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__logo {
        margin-right: 110px;
        display: flex;
        max-height: 100%;
        img {
            max-width: 100%;
            height: auto;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__menu {
        margin-right: auto;
        > ul {
            display: flex;
            > li {
                position: relative;
                margin-right: 50px;
                display: flex;
                a {
                    transition: 0.2s;
                    font-size: 16px;
                    white-space: nowrap;
                }
                &:last-child {
                    margin-right: 0;
                }
                .dropdown {
                    width: 312px;
                    transition: 0.2s;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: -24px;
                    bottom: 0;
                    transform: translateY(100%);
                    padding: 38px 0 8px;
                    background-color: #fff;
                    border-radius: 0 0 8px 8px;
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                    a {
                        transition: 0.2s;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 24px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        white-space: nowrap;
                        &:after {
                            transition: 0.2s;
                            content: url(../img/check.svg);
                            opacity: 0;
                        }
                        &:hover {
                            transition: 0.2s;
                            background-color: #f8ebe8;
                            color: #caa19e;
                            &:after {
                                transition: 0.2s;
                                opacity: 1;
                            }
                        }
                    }
                }
                &.with-dropdown {
                    &:after {
                        transition: 0.2s;
                        content: url(../img/select-arrow.svg);
                        margin-left: 4px;
                    }
                }
                &:hover {
                    &:after {
                        transition: 0.2s;
                        transform: rotate(180deg);
                    }
                    > a {
                        transition: 0.2s;
                        color: $dark_primary_color;
                    }
                    .dropdown {
                        transition: 0.2s;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .lang {
        cursor: pointer;
        position: relative;
        margin-right: 12px;
        font-size: 14px;
        display: flex;
        align-items: center;
        background-color: #f5f4f9;
        border-radius: 46px;
        height: 40px;
        padding: 0 18px;
        &__list {
            transition: 0.2s;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0px 4px 6px 0px #00000012;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            background-color: #fff;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            li {
                display: flex;
            }
            a {
                width: 100%;
                padding: 0 18px;
                line-height: 34px;
                transition: 0.2s;
                &:hover {
                    transition: 0.2s;
                    background-color: #f8ebe8;
                    color: #caa19e;
                }
            }
        }
        &:after {
            transition: 0.2s;
            content: url(../img/select-arrow.svg);
            margin-left: 10px;
        }
        &:hover {
            .lang__list {
                transition: 0.2s;
                opacity: 1;
                visibility: visible;
            }
            &:after {
                transition: 0.2s;
                transform: rotate(180deg);
            }
        }
    }
}
@include lg {
    .header {
        padding: 10px 0;
        height: 46px;
        &__main {
            width: 40%;
            min-width: 244px;
            transition: 0.4s;
            visibility: hidden;
            transform: translateX(100%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: calc(100vh - 46px);
            background-color: #fff;
            padding: 16px;
            position: absolute;
            right: -1px;
            top: 46px;
        }
        &__menu {
            > ul {
                flex-direction: column;
                > li {
                    flex-direction: column;
                    &.with-dropdown {
                        margin-top: 24px;
                        &:after {
                            display: none;
                        }
                        a:after {
                            content: ":";
                        }
                        > a {
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                    .dropdown {
                        padding: 0;
                        position: static;
                        transform: none;
                        visibility: visible;
                        opacity: 1;
                        a {
                            height: auto;
                            line-height: initial;
                            padding: 0;
                        }
                    }
                }
                li {
                    margin-top: 8px;
                    a {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .services {
                order: 1;
            }
        }
        .lang {
            margin-top: 40px;
        }
        .btn {
            margin-top: 40px;
        }
        &__burger {
            margin-left: auto;
            position: relative;
            width: 24px;
            height: 24px;
            &:before,
            &:after {
                transition: 0.3s;
                content: "";
                position: absolute;
                left: 5px;
                top: 12px;
                width: 16px;
                height: 1px;
                background-color: #272727;
            }
            &:after {
                margin-top: 6px;
            }
        }
        &.active {
            z-index: 5;
            .header__burger {
                &:before,
                &:after {
                    transition: 0.3s;
                    transform: rotate(45deg);
                }
                &:after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
            .header__main {
                transition: 0.4s;
                visibility: visible;
                transform: translateX(0);
            }
        }
    }
}
section#main {
    padding-top: 80px;
    background-color: $primary_color;
    height: 100vh;
    max-height: 1000px;
    min-height: 800px;
    .container {
        flex-wrap: nowrap;
        position: relative;
    }
    .main-banner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .container {
            align-items: flex-end;
            align-content: flex-end;
        }
        .image {
            display: flex;
        }
        .text {
            z-index: 1;
            margin-left: auto;
            margin-right: 40px;
            width: 600px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .label {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .title {
                display: block;
                width: 100%;
                font-size: 98px;
                font-weight: 300;
                span {
                    display: block;
                    text-align: right;
                }
            }
            .btn {
                margin: 0 auto;
                margin-top: 70px;
            }
        }
        &__pagination {
            height: 12px;
            z-index: 2;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            .pagination {
                width: auto;
                display: flex;
                position: absolute;
                bottom: 30px;
                right: 0;
                left: initial;
            }
        }
    }
}
@include xxl {
    section#main {
        .main-banner .text {
            width: auto;
            margin-right: 0;
        }
    }
}
@include xl {
    section#main .main-banner .text .title {
        font-size: 70px;
    }
}
@include lg {
    section#main {
        padding-top: 90px;
        max-height: 800px;
        min-height: 500px;
    }
}
@include md {
    section#main {
        max-height: initial;
        min-height: initial;
        height: initial;
        .main-banner {
            .container {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                overflow: hidden;
            }
            .image {
                order: 1;
                margin-left: -66px;
            }
            .text {
                margin: 0 auto;
                margin-bottom: 20px;
                justify-content: flex-start;
                .title {
                    font-size: 48px;
                }
            }
            .btn {
                position: absolute;
                bottom: 24px;
                left: 16px;
                width: calc(100% - 32px);
                .circles {
                    display: none;
                }
            }
        }
    }
}
section#services {
    padding: 80px 0;
    .services-list {
        width: 100%;
        margin-top: 50px;
        display: flex;
        gap: 22px;
        &__item {
            cursor: pointer;
            transition: 0.5s;
            padding: 30px;
            position: relative;
            height: 380px;
            width: 9.6%;
            height: 380px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            border-radius: 12px;
            overflow: hidden;
            .image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                img {
                    transition: 0.4s;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 100%;
                }
                &:hover {
                    img {
                        transition: 0.4s;
                        width: 110%;
                        height: 110%;
                    }
                }
            }
            .text {
                transition: 0.2s;
                visibility: hidden;
                opacity: 0;
                z-index: 1;
                display: flex;
                h4 {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 16px;
                    padding: 0 30px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 40px;
                    background-color: #f8d5cd;
                    margin-right: 20px;
                }
            }
            &.active {
                transition: 0.5s;
                flex-grow: 1;
                .image img {
                    object-position: center !important;
                }
                .text {
                    transition: 0.2s;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
@include lg {
    section#services {
        .services-list {
            flex-wrap: wrap;
            gap: 20px;
            &__item {
                flex-grow: 0 !important;
                flex-basis: calc(50% - 10px);
                .image img {
                    object-position: center;
                }
                .text {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
@include md {
    section#services {
        .services-list {
            &__item {
                height: 240px;
                flex-basis: 100%;
            }
        }
    }
}
@include sm {
    section#services {
        padding-top: 40px;
        padding-bottom: 16px;
        .services-list {
            margin-top: 40px;
            gap: 16px;
            &__item {
                padding: 12px;
                height: 190px;
                .text {
                    h4 {
                        margin-right: 12px;
                        font-size: 12px;
                        line-height: 30px;
                        height: 30px;
                        padding: 0 24px;
                    }
                    .btn-arr {
                        height: 30px;
                        width: 30px;
                        min-height: 30px;
                        min-width: 30px;
                    }
                }
            }
        }
    }
}
section#about-us {
    overflow: hidden;
    padding: 90px 0 100px;
    background-color: #f8d5cd;
    .container {
        z-index: 1;
        position: relative;
        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            top: -380px;
            right: -235px;
            width: 860px;
            height: 816px;
            background-image: url(../img/about-us-bg.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .about-us-list {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        &__item {
            overflow: hidden;
            position: relative;
            padding: 30px;
            background-color: #fff;
            border-radius: 12px;
            display: flex;
            height: 300px;
            width: 260px;
            flex-grow: 1;
            h3 {
                margin-top: auto;
                color: #d9a8a5;
                font-size: 22px;
                font-weight: 600;
                b {
                    margin-right: 10px;
                    font-weight: 700;
                    font-size: 128px;
                    line-height: 100px;
                }
            }
            ul {
                position: absolute;
                top: 30px;
                right: 20px;
                padding-right: 28px;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(
                        #fff,
                        rgb(255 255 255 / 20%)
                    );
                }
                &:after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-image: url(../img/play.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 0;
                    bottom: -4px;
                }
                li {
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 6px;
                    color: #d9a8a5;
                }
                // .box {
                //     height: 100px;
                //     width: 100px;
                //     margin-bottom: 10px;
                // }
            }
            &_link {
                height: auto;
                white-space: nowrap;
                padding: 0;
                align-items: flex-end;
                background-color: transparent;
                .btn {
                    flex-grow: 1;
                    margin-right: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
@include xl {
    section#about-us {
        padding: 60px 0 50px;
        .about-us-list {
            margin-top: 40px;
            // &__item {
            //     &_link {
            //     }
            // }
        }
    }
}
@include md {
    section#about-us {
        padding: 30px 0;
        .container {
            &:after {
                left: 54px;
                max-width: 97%;
                transform: rotate(340deg);
                right: initial;
                top: -365px;
            }
        }
        .about-us-list {
            margin-top: 110px;
            gap: 16px;
            &__item {
                padding: 12px;
                height: 190px;
                h3 {
                    font-size: 16px;
                    b {
                        font-size: 52px;
                        line-height: 50px;
                    }
                }
                ul {
                    top: 12px;
                    right: 8px;
                    li {
                        font-size: 10px;
                        margin-top: 5px;
                    }
                }
                &_link {
                    height: 190px;
                    background-color: #d9a8a5;
                    display: flex;
                    align-items: center;
                    .btn {
                        font-size: 14px;
                        margin: 0;
                        background-color: transparent;
                        padding: 0;
                        color: #fff;
                    }
                    .btn-arr {
                        width: 24px;
                        height: 24px;
                        min-width: 24px;
                        min-height: 24px;
                        position: absolute;
                        right: 6px;
                        bottom: 6px;
                    }
                }
            }
        }
    }
}
@include sm {
    section#about-us {
        padding: 30px 0;
        .about-us-list {
            margin-top: 110px;
            gap: 16px;
            &__item {
                padding: 12px;
                height: 150px;
                width: calc(50% - 8px);
                h3 {
                    font-size: 14px;
                    b {
                        margin-right: 2px;
                        font-size: 42px;
                        line-height: 40px;
                    }
                }
                ul {
                    top: 12px;
                    right: 8px;
                    padding-right: 14px;
                    li {
                        font-size: 8px;
                        margin-top: 3px;
                    }
                    &:after {
                        bottom: -2px;
                        width: 12px;
                        height: 12px;
                    }
                }
                &_link {
                    .btn {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
section#testimonials {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #eeeeed;
    background-image: url(../img/testimonials-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    h2 {
        width: 100%;
        div {
            margin-left: 50px;
        }
    }
    .content {
        margin-top: 80px;
        width: 850px;
        max-width: 100%;
    }
    .testimonials-slider {
        width: 100%;
        &__item {
            min-width: calc(50% - 15px);
            background-color: #fff;
            border-radius: 12px;
            padding: 40px;
            .text {
                font-weight: 300;
                font-size: 18px;
            }
            .user {
                margin-top: 40px;
                display: flex;
                align-items: center;
                &__photo {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                &__info {
                    .name {
                        font-weight: 600;
                        font-size: 20px;
                    }
                    .address {
                        font-weight: 400;
                        font-size: 18px;
                        color: #9d9d9d;
                    }
                }
            }
        }
        &__scrollbar {
            cursor: grab;
            margin-top: 40px;
            height: 8px;
            background-color: rgba(#d0d5dd, 30%);
            .swiper-scrollbar-drag {
                background-color: #f8d5cd;
            }
        }
    }
}
@include lg {
    section#testimonials {
        .content {
            margin-left: 12px;
            z-index: 1;
            width: 430px;
            position: relative;
            &:after {
                z-index: -1;
                content: "";
                border-radius: 8px;
                width: calc(100% + 24px);
                height: calc(100% + 19px);
                display: block;
                position: absolute;
                left: 50%;
                top: -12px;
                transform: translate(-50%, 0);
                background-color: rgba(#fff, 10%);
                backdrop-filter: blur(5px);
            }
        }
        .testimonials-slider {
            &__item {
                min-width: 100%;
            }
            &__scrollbar {
                display: none;
            }
            &__pagination {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                margin-top: 6px;
                .dot {
                    &:after {
                        background-color: #d9d9d9;
                    }
                    &.swiper-pagination-bullet-active:after {
                        background-color: #caa19e;
                    }
                }
            }
        }
    }
}
@include sm {
    section#testimonials {
        padding: 40px 0;
        background-size: 215px;
        h2 {
            font-size: 28px;
            div {
                margin-left: 30px;
            }
        }
        .content {
            margin-top: 50px;
            width: 212px;
            .text {
                font-size: 10px;
            }
        }
        .testimonials-slider {
            &__item {
                padding: 16px;
                .user {
                    margin-top: 16px;
                    font-size: 10px;
                    &__photo {
                        width: 30px;
                        height: 30px;
                        min-width: 30px;
                        min-height: 30px;
                        margin-right: 6px;
                    }
                    &__info {
                        .name {
                            font-size: 10px;
                        }
                        .address {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
section#addresses {
    padding-top: 80px;
    padding-bottom: 100px;
    h2 {
        width: 100%;
    }
    .addresses {
        height: 490px;
        z-index: 1;
        width: 100%;
        position: relative;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        &__tabs {
            position: relative;
            margin-top: -1px;
            display: flex;
            flex-wrap: wrap;
            width: 660px;
            max-width: 100%;
            background-color: #fff;
            border-bottom-right-radius: 26px;
            padding-bottom: 30px;
            padding-right: 30px;
            gap: 30px;
            &__item {
                transition: 0.2s;
                cursor: pointer;
                flex-grow: 1;
                border-radius: 12px;
                height: 60px;
                line-height: 60px;
                font-size: 20px;
                font-weight: 500;
                background-color: #f8ebe8;
                text-align: center;
                &.active {
                    transition: 0.2s;
                    pointer-events: none;
                    background-color: #f8d5cd;
                }
            }
            &__subtabs {
                width: 100%;
                height: 35px;
                &__item {
                    min-width: 100%;
                    display: flex;
                    .street {
                        cursor: pointer;
                        transition: 0.2s;
                        margin-right: 20px;
                        border-radius: 30px;
                        height: 100%;
                        padding: 0 35px;
                        color: #caa19e;
                        border: 1px solid #caa19e;
                        display: flex;
                        align-items: center;
                        &.active {
                            transition: 0.2s;
                            pointer-events: none;
                            color: #0b5cd5;
                            border-color: #0b5cd5;
                        }
                    }
                    &.swiper-slide-active {
                        z-index: 1;
                    }
                }
            }
        }
        &__list {
            background-color: #fff;
            border-radius: 12px;
            width: 300px;
            margin: 0;
            overflow: hidden;
            &__item {
                min-width: 300px;
                padding: 30px 40px;
                line-height: 140%;
                p {
                    margin-top: 10px;
                }
            }
            &__pagination {
                width: 300px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                .pagination {
                    width: auto;
                    display: flex;
                    align-items: center;
                    &-prev {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &__pictures {
            height: 490px;
            z-index: -1;
            position: absolute;
            right: 0;
            top: 0;
            width: 960px;
            max-width: calc(100% - 300px);
            border-radius: 12px;
            &__item {
                cursor: pointer;
                min-width: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .corner {
            width: 27px;
            height: 27px;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            &:after {
                content: "";
                display: block;
                width: 200%;
                height: 200%;
                position: absolute;
                border-radius: 50%;
                bottom: 0;
                left: 0;
                box-shadow: -12.5px 12.5px 0 0 #fff;
            }
            &.corner-top-1 {
                top: -1px;
                right: -25px;
                transform: rotate(90deg);
            }
            &.corner-top-2 {
                top: 153px;
                left: -2px;
                transform: rotate(90deg);
            }
            &.corner-bottom-1 {
                bottom: 98px;
                right: -1px;
                transform: rotate(-90deg);
            }
            &.corner-bottom-2 {
                bottom: -1px;
                right: 328px;
                transform: rotate(-90deg);
            }
        }
        .booksy-btn {
            z-index: 1;
            position: absolute;
            bottom: -1px;
            right: -1px;
            padding-top: 30px;
            padding-left: 30px;
            border-top-left-radius: 26px;
            background-color: #fff;
            .btn {
                width: 300px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                border-radius: 12px;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}
@include lg {
    section#addresses {
        padding-top: 40px;
        padding-bottom: 20px;
        .addresses {
            height: auto;
            margin-top: 20px;
            &__tabs {
                order: -1;
                &__subtabs {
                    height: 45px;
                    &__item {
                        padding-bottom: 6px;
                        overflow-x: scroll;
                    }
                }
            }
            &__pictures {
                margin-bottom: -62px;
                height: 350px;
                position: static;
                width: 100%;
                max-width: 100%;
                order: -1;
            }
            &__list {
            }
        }
        .corner {
            display: none;
        }
    }
}
@include lg {
    section#addresses {
        .addresses {
            &__tabs {
                position: relative;
                gap: 12px;
                padding: 0;
                &:after {
                    pointer-events: none;
                    z-index: 1;
                    content: "";
                    width: 30%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-image: linear-gradient(
                        270deg,
                        #fff,
                        transparent
                    );
                }
                &__item {
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                }
                &__subtabs {
                    &__item {
                        .street {
                            padding: 0 20px;
                            margin-right: 8px;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
            }
            &__pictures {
                position: relative;
                margin: 0;
                margin-top: 12px;
                margin-bottom: -63px;
            }
            &__list {
                border-top-left-radius: 0;
                &__pagination {
                    order: 1;
                    margin: 0 auto;
                    margin-top: -20px;
                }
            }
            .booksy-btn {
                padding: 0;
                margin-top: 16px;
                max-width: calc(100% - 190px);
                order: 0;
                position: static;
                margin: 0 0 0 auto;
                transform: translateY(-100%);
                .btn {
                    padding: 0 20px;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                }
            }
            .corner {
                &.corner-bottom-1 {
                    display: block;
                    bottom: 62px;
                    left: 0;
                    transform: none;
                }
                &.corner-bottom-2 {
                    display: block;
                    bottom: -1px;
                    left: 299px;
                    transform: none;
                }
            }
        }
    }
}
@include md {
    section#addresses {
        .addresses {
            &__list {
                width: 190px;
                &__item {
                    min-width: 190px;
                    padding: 28px 16px 12px 12px;
                    font-size: 12px;
                }
            }
            .booksy-btn {
                .btn {
                    padding: 0 14px;
                    width: 100%;
                    height: 36px;
                    line-height: 36px;
                }
                img {
                    width: 90px;
                }
            }
            .corner.corner-bottom-2 {
                left: 189px;
            }
        }
    }
}
section#contacts {
    padding: 72px 0;
    .container {
        justify-content: space-between;
    }
    .contacts-info {
        max-width: calc(56% - 10px);
        width: 644px;
        padding: 70px 65px 60px;
        border-radius: 12px;
        margin-left: 16px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f8d5cd;
        h2 {
            font-size: 48px;
            font-weight: 400;
            line-height: 110%;
        }
        .desc {
            margin-top: 20px;
            margin-bottom: 75px;
            font-size: 18px;
            font-weight: 400;
        }
        .contacts {
            margin-top: auto;
            &__item {
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 400;
                b {
                    font-size: 20px;
                    font-weight: 600;
                    display: block;
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .contacts-form {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: calc(44% - 10px);
        width: 470px;
    }
}
@include xl {
    section#contacts {
        .container {
            justify-content: space-between;
        }
        .contacts-info {
            margin-left: 0;
            margin-right: 0;
            .desc {
                br {
                    display: none;
                }
            }
        }
        .contacts-form {
            margin: 0;
        }
    }
}
@include lg {
    section#contacts {
        padding: 28px 0;
        .contacts-info {
            padding: 40px 30px;
            h2 {
                font-size: 42px;
            }
            .desc {
                font-size: 14px;
                br {
                    display: block;
                }
            }
        }
    }
}
@include md {
    section#contacts {
        .contacts-info {
            width: 100%;
            max-width: 100%;
        }
        .contacts-form {
            width: 100%;
            max-width: 100%;
        }
    }
}
@include sm {
    section#contacts {
        .contacts-info {
            width: 100%;
            max-width: 100%;
            h2 {
                font-size: 24px;
                font-weight: 500;
            }
            .desc {
                font-size: 12px;
            }
            .contacts__item {
                font-size: 14px;
                margin-bottom: 12px;
                b {
                    font-size: 14px;
                }
            }
        }
        .contacts-form {
            margin-top: 10px;
            width: 100%;
            max-width: 100%;
        }
    }
}
@include xs {
    section#contacts {
        .contacts-info {
            .desc {
                br {
                    display: none;
                }
            }
        }
    }
}
footer {
    background-color: #f8d5cd;
    padding-top: 40px;
    .container {
        justify-content: space-between;
        row-gap: 30px;
    }
    .left {
        padding: 40px 50px;
        width: calC(100% - 270px);
        background-color: #fff;
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .row {
            width: 100%;
        }
        .logo {
            display: flex;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .menu {
            margin-top: 50px;
            .title {
                font-weight: 600;
                margin-bottom: 15px;
            }
            ul {
                li {
                    margin-top: 6px;
                    a {
                        transition: 0.2s;
                        font-size: 14px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 8px;
                        }
                        &:hover {
                            color: $dark_primary_color;
                        }
                    }
                    &.center {
                        margin: 0 auto;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .right {
        background-color: #fff;
        padding: 40px 20px 20px;
        width: 240px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .name {
            margin-top: 12px;
            font-weight: 600;
        }
        p {
            margin-top: 6px;
            font-weight: 300;
        }
        .question {
            font-size: 12px;
            font-weight: 400;
            margin-top: 28px;
        }
        .o-btn {
            margin-top: 15px;
            width: 160px;
        }
    }
    .bottom {
        margin-top: 30px;
        width: 100%;
        border-top: 1px solid #caa19e;
        ul {
            margin: 30px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            li {
                font-size: 12px;
                font-weight: 400;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.center {
                    flex-grow: 1;
                    text-align: center;
                }
            }
        }
    }
}
@include lg {
    footer {
        .left {
            padding: 30px 40px;
            .menu {
                width: 50%;
                &:nth-of-type(4) {
                    order: 1;
                }
            }
        }
    }
}
@include md {
    footer {
        .container {
            gap: 16px;
            justify-content: start;
        }
        .left {
            width: 100%;
            padding: 24px 12px;
            .logo {
                margin-bottom: 24px;
                height: 26px;
            }
            .menu {
                margin-top: 0;
                width: 100%;
                order: 1;
                border-bottom: 1px solid #caa19e;
                .title {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 40px;
                    margin-bottom: 0;
                    &:after {
                        transition: 0.4s;
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url(../img/plus.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }
                ul {
                    padding-left: 16px;
                    padding-bottom: 16px;
                    display: none;
                    li {
                        margin-top: 10px;
                    }
                }
                &.active {
                    .title {
                        &:after {
                            transition: 0.4s;
                            transform: rotate(315deg);
                        }
                    }
                    ul {
                        display: block;
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
                &.contacts {
                    margin-top: 20px;
                    .title:after {
                        display: none;
                    }
                    ul {
                        padding-left: 0;
                        display: block;
                    }
                }
            }
        }
        .right {
            width: 100%;
            padding: 30px 12px 16px;
            .image {
            }
        }
        .bottom ul {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            column-gap: 20px;
            li {
                margin-top: 12px;
                &:nth-child(1) {
                    order: -1;
                }
                &:nth-child(4) {
                    order: -1;
                }
                &.center {
                    width: 100%;
                    order: 1;
                    text-align: center;
                    text-decoration: underline;
                }
            }
        }
    }
}
.modal {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    width: 820px;
    max-width: calc(100% - 40px);
    border-radius: 20px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    overflow: hidden;
    .image {
        display: flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .contacts-form {
        width: 426px;
        padding: 20px 32px;
        .input-wrap:first-child {
            margin-top: 0;
        }
    }
    &.active {
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
    }
}
@include md {
    .modal {
        padding: 12px;
        flex-wrap: wrap;
        width: 300px;
        max-width: calc(100% - 32px);
        max-height: calc(100% - 32px);
        overflow-y: scroll;
        .image {
            width: 100%;
            picture {
                width: 100%;
            }
        }
        .contacts-form {
            margin-top: 16px;
            width: 100%;
            padding: 0;
            .input-wrap {
                margin-top: 12px;
                .label {
                    font-size: 12px;
                    margin-bottom: 0;
                    line-height: 20px;
                }
                input {
                    font-size: 12px;
                    height: 36px;
                    line-height: 36px;
                }
                .ss-main .ss-values .ss-single {
                    font-size: 12px;
                }
            }
            .confirmation {
                margin-top: 24px;
                font-size: 12px;
            }
        }
        .close {
            position: absolute;
            right: 12px;
            top: 12px;
            width: 24px;
            height: 24px;
            background-image: url(../img/close.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.contact-modal {
            .image {
                display: none;
            }
        }
    }
}
.overlay {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(#caa19e, 30%);
    backdrop-filter: blur(6px);
    &.active {
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
    }
}
