@import "./mixins.scss";

$primary_font: "CGP";

$primary_color: #f8d5cd;
$light_primary_color: #f8ebe8;
$dark_primary_color: #d9a8a5;
$secondary_color: #0b5cd5;
$dark_secondary_color: #0b52bd;
$text_color: #272727;
$light_text_color: #afaeb6;

:root {
  --border-radius: 12px;
  @include sm {
    --border-radius: 6px;
  }
}
